$blanco: white;
$purple: #AB88FF;
$verde: #21c08b;

@mixin flex($direction, $horizontal, $vertical){
    display: flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
  }

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }

  .header {
    @include flex(initial, space-between, center);
    background-color: $verde;
    color: $blanco;
    height: 100px;
    top: 0px;
    width: 100%;

    .header__img {
        margin-left: 30px;
        width: 200px;
      }
  }
  
.login {
    @include flex(column, center, center);
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
    background: linear-gradient($verde, $purple);
}

.error{
    @include flex(column, center, center);
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
    background: linear-gradient($verde, $purple);
}

.login__container {
    @include flex(column, space-around, initial);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid $blanco;
    border-radius: 40px;
    color: $blanco;
    padding: 60px 68px 40px;
    min-height: 650px;
    width: 300px;
    box-shadow: 0px 4px 8px 4px rgb(0 0 0 / 40%);

    .login__container--form {
        @include flex(column, initial, initial);
    }
}

.error__container {
    @include flex(column, center, initial);
    color: $blanco;
    padding: 60px 68px 40px;
    min-height: 777px;
    width: 400px;

    h1 {
        font-size: 80px;
        text-align: center;
    }
    
    p {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 2.5s;
  }


.login__container--remember-me {
    @include flex(initial, space-between, initial);
     color: $blanco;
     margin-top: 10px;

     a {
        color: $blanco;
        font-size: 14px;
        text-decoration: none;
    }

    .a:hover {
        text-decoration: underline;
    }
}

.login__container--social-media > div {
    @include flex(initial, initial, center);
    font-size: 14px;
    margin-bottom: 10px; 

    .login__container--social-media > div > img {
        width: 30px1;
        margin-right: 10px;
    }
}

.login__container--register {
    font-size: 14px;
    text-align: center;

    a {
        font-size: 16px;
        text-decoration: none;
        color: $blanco;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
}

.input__login {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid $blanco;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: $blanco;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: $blanco;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}

.footer {
    @include flex(initial, initial, center);
    height: 100px;
    width: 100%;
    background-color: $purple;

    a {
        color: $blanco;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Muli', sans-serif;
        padding-left: 30px;
        text-decoration: none ;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width:600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
        box-shadow: none;
    }

    .error__container {
        border: none;
        padding: 0px;
        width: 100%;
        box-shadow: none;
    }

    .footer {
        align-items: flex-start;
         flex-direction: column;
    }
}