body {
  margin: 0;
  font-family: "Muli", sans-serif;
}

.header {
  align-items: center;
  background-color: #21c08b;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
  background: linear-gradient(#21C08B, #AB88FF);
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
  background: linear-gradient(#21C08B, #AB88FF);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 650px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.error__container {
  color: white;
  padding: 60px 68px 40px;
  min-height: 777px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 2.5s;
}

.error__container h1 {
  font-size: 80px;
  text-align: center;
}

.error__container p {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px1;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
  text-align: center;
}

.login__container--register a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input__login {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: "Muli", sans-serif;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-family: "Muli", sans-serif;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #AB88FF;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: "Muli", sans-serif;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
    box-shadow: none;
  }

  .error__container {
    border: none;
    padding: 0px;
    width: 100%;
    box-shadow: none;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

/*# sourceMappingURL=login.css.map */
