$purple: #8f57fd;
$blanco: white;

body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    background-color: $purple;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
  }

.header__menu {
    margin-right: 30px;

    ul {
        display: none;
        position: absolute;
        padding: 0px;
        width: 100px;
        margin: 0px 0px 0px -14px;
        text-align: right;
        list-style: none;
    }

    .header__menu:hover ul, ul:hover {
        display: block;
    }

    li {
        margin: 10px 0px;
    }
    
    li a {
        color: $blanco;
        text-decoration: none;    
    }
    
    li a:hover {
        text-decoration: underline;        
    }
}

.header__menu--profile {
    display: flex;
    margin-right: 8px;
    align-items: center;
    cursor: pointer;

    img {
        margin-right: 8px;
        width: 40px;
    }
    
    p {
        margin: 0px;
        color: $blanco;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.main__title {
    color: $blanco;
    font-size: 25px;
}

.categories__title {
    color: $blanco;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid $blanco;
    border-radius: 30px;
    color: $blanco;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
}

::placeholder {
    color: $blanco;
}

.carrousel {
    width: 100%;
    overflow: scroll; /*Se le asigna el scroll para que se recorra lateralmente */
    padding: 30px;
    position: relative;
}

.carrousel__container {
    $blanco-space: nowrap; /* este estilo permite que todo el contenido sea linean aun cuando ya no haya espacio */
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carrousel-item { /* se le aplican estilso a los items  */
    display: inline-block;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: palevioletred;
    overflow: hidden;
    cursor: pointer;
    transition: 450ms all; /* da un tiempo mas delicado de movimiento */
    transform-origin: center left; /* indica que las transformaciones se inicien del centro hacia la derecha */
    position: relative;
}

::-webkit-scrollbar {
  display: none; /* se oculta la barra de scroll */
}

.carrousel-item:hover ~ .carrousel-item {
    transform: translate3d(100px, 0, 0); /* movimiento del item al hover */
}

.carrousel__container:hover .carrousel-item {
    opacity: 0.3; /* Opacidad cuando haya hovel sobre todos los items */
}

.carrousel__container:hover .carrousel-item:hover {
    transform: scale(1.5); /* Se aumenta el tamaño del item con el mouseover o hover */ 
    opacity: 1; /* al item seleccionado se le regresa la opacidad */
}

.carrousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover; /* Permite que las imagenes se ajusten en automatico para evitar la distorsión*/
}

.carrousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9 ) 0%,  rgba(0, 0, 0, 0 ) 100%);
    font-size: 10px;
    opacity: 0; 
    transition: 450ms opacity;
    padding:  10px;
    position: absolute;
    top: 180px;
    left: 00px;
    right: 0;
    bottom: 0;
}

.carrousel-item:hover .carrousel-item__details {
    opacity: 1; /* Opacidad de los iconos y textos dentro de la imagen al tener hover en el item*/ 
}

.carrousel-item__details img {
    width: 20px;
    height: 20px;
}

.carrousel-item__details--title, .carrousel-item__details--subtitle {
    margin: 0px;
    color: $blanco;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: $purple;
}

.footer a {
    color: $blanco;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    padding-left: 30px;
    text-decoration: none ;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:600px) {

    .footer {
        align-items: flex-start;
         flex-direction: column;
    }
}